<div *ngIf="lessonData">
  <h4 class="rounded bg-light py-3 px-4">{{lessonData?.title}}</h4>
  <div *ngFor="let item of lessonData.data;">
    <section *ngIf="item.type == 'html'" [innerHTML]="item.content">
    </section>

    <section *ngIf="item.text">
      <div *ngIf="item.text">{{ item.text }}</div>
    </section>

    <section *ngIf="item.type == 'audio'">
      <audio class="w-100 mt-4" controls >
        <source [src]="item.content" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
    </section>

    <section *ngIf="item.type == 'video'">
      <video class="w-50 mx-auto mt-4 rounded" controls>
        <source [src]="item.content" type="video/mp4">
        Your browser does not support the video element.
      </video>
    </section>

    <section *ngIf="item.type == 'h5p'" [innerHTML]="getH5pHtml(item.content)| safe: 'html'">
    </section>


    <section *ngIf="item.type == 'recording'">
      <iframe allow="microphone" width=100%; height="600;" [src]="'lets-talk/Open Story.html' | safe: 'resourceUrl'"></iframe>
    </section>

    <section *ngIf="item.type == 'iframe'">
      <iframe allow="microphone" scrolling="no" width=100%; height="600;" allow="microphone" [src]="item.content | safe: 'resourceUrl'"></iframe>
    </section>

    <section *ngIf="item.type == 'image'">
      <img width="100%" height="500"  [src]="item.content">
    </section>


    <section *ngIf="item.type == 'images'">
     <ng-container  *ngFor="let image of item.content;">
      <img width="{{image.width}}" height="{{image.height}}"  src="{{image.src}}"> &nbsp;&nbsp;
      <!-- <p>{{image.name}}</p> -->
     </ng-container>
    </section>

    <section *ngIf="item.type == 'options'">
      <div class="d-flex justify-content-around">
        <ng-container  *ngFor="let ele of item.content;">
          <div ngClass="optionSwitch ? opt-unselected : opt-selected">
            <div *ngIf="ele.imageSrc"><img width="200" height="200"  src="{{ele.imageSrc}}"> &nbsp;&nbsp;
            <div class="mt-2"><b>{{ele.name}}</b></div>
            </div>
            <div *ngIf="!ele.imageSrc">
              <p>{{ele.name}}</p>
            </div>
            <div *ngIf="ele.audioSrc">
              <audio class="w-100 mt-4" controls >
                <source [src]="ele.audioSrc" type="audio/mp3">
              Your browser does not support the audio element.
              </audio>
            </div>
          </div>
        </ng-container>
      </div>
      <ng-container *ngFor="let ele of item.content;">
        <div class="mt-5" *ngIf="!optionSwitch">
          <div class="mt-2" [innerHTML]="ele.answerText">
          </div>
          <div *ngIf="ele.modelAudioSrc">
            <audio class="w-100 mt-4" controls >
              <source [src]="ele.modelAudioSrc" type="audio/mp3">
            Your browser does not support the audio element.
            </audio>
          </div>
        </div>
      </ng-container>
     </section>

    <section *ngIf="item.type == 'openStory'" [innerHTML]="getOpenStoryHtml(item.content) | safe: 'html'">
      <iframe allow="microphone" width=100%; height="600;" [src]="'lets-talk/Open Story.html' | safe: 'resourceUrl'"></iframe>
    </section>

    <section *ngIf="item.type == 'wordHelp'">
      <app-word-help [data]="item.content"></app-word-help>
    </section>



  </div>
</div>
