<h4 class="rounded bg-light py-3 px-4">{{data.title}}</h4>
<section>
    <div class="px-2 pt-4">
        <p> {{data.instruction_1.en_text}}</p>
        <p> {{data.instruction_1.ta_text}}</p>
    </div>
    <!-- <audio controls class="w-100 mt-4">
        <source src={{data.instruction_1.audio}} type="audio/mp3">
    </audio> -->
</section>
<section>
  <iframe [src]="getIframeUrl()" width="900" height="700" frameborder="0" allowfullscreen="allowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *" title="mcq image type"></iframe><script src="https://h5p.org/sites/all/modules/h5p/library/js/h5p-resizer.js" charset="UTF-8"></script>
</section>
